/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black;
}

.header-section .container{
  flex-direction: column;
}

.flex{
  display: flex;
}

.container{
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

.row-reverse{
  flex-direction: row-reverse;
}

/* Header */
header{
  display: flex;
  margin: 10px 0;
  padding: 10px 10px;
  background-color: #DAA520;
  border: 1px solid black;
}

section.header-section{
  display: flex;
  flex-direction: column;
  background-color: #ADD8E6;
}


.header-section .container nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header-section .container nav ul li:not(:last-child){
  margin-right: 15px;
}

.header-section .container nav ul li a{
  color: black;
  text-decoration: none;
}

.header-section .container nav{
  width: 50%;
  display: flex;
  justify-content: center;
}

.header-section .container .logo{
  width: 25%;
}

.header-section .container .button{
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.jumbotron{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 5px 0;
  height: 500px;
  background-color: #00008B;
}

.jumbotron .jumbotron-content{
  width: 50%;
  height: 80%;
  background-color: #EE82EE;
}

/* Main */
main section:nth-child(even){
  background-color: #D3D3D3;
}

.section-with-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-with-content .image{
  display: flex;
  width: 60%;
  height: 500px;
  background-color: #1E90FF;
  margin: 30px 0;
}

.section-with-content .text{
  display: flex;
  width: 40%;
  height: 500px;
  background-color: #FFC0CB;
  margin: 30px 0;

}

.center-main-content{
  display: flex;
  width: 100%;
  height: 700px;
  background-color: #228B22;
  margin: 30px 0;
}

/* Footer */
footer{
  background-color: #23272A;
  padding-top: 10px;
}

footer .top-footer{
  padding-bottom: 30px;
  border-bottom: 2px solid #B4B3B3;
}

footer .col-social{
  width: 30%;
  height: 500px;
  background-color: #F08080;
}

footer .footer-menu{
  display: flex;
  width: 70%;
  height: 500px;
  background-color: #20B2AA;
}

.footer-menu .col{
  width: calc(100%/4);
  height: 100%;
  border: 1px dashed white;
}

footer .bottom-footer{
  justify-content: space-between;
  margin-top: 30px;
  padding: 10px 0;
  background-color: #7FFFD4;
}

footer .bottom-footer .logo, footer .bottom-footer .button{
  padding: 5px;
  background-color: #FFB6C1;
}